<div id="page">
  <div class="title">USERS</div>

  <button class="add_button" (click)="add()">Add</button>
    <div class="table">
      <div class="header-row row">
        <div class="header-cell cell" *ngFor="let column of tableColumns" [ngClass]="column">
          {{column}}
        </div>
      </div>
      <div class="table-row row" *ngFor="let user of usersList">
        <div class="table-cell cell" *ngFor="let column of tableColumns" [ngClass]="column">
          <div *ngIf="column=='Edit'"><button (click)="edit(user)">Edit</button> </div>
          <div *ngIf="column=='Delete'"><button (click)="delete(user)">Delete</button> </div>
          <div *ngIf="user[column] != null">{{user[column]}}</div>
        </div>
      </div>
    </div>
</div>
