<div id="page">
  <div class="title" *ngIf="isEdit">Edit User</div>
  <div class="title" *ngIf="!isEdit">Add User</div>

  <div>
    <form (submit)="isEdit ? editUser() : addUser()">
      <input [(ngModel)]="user.username" name="username" placeholder="Username">
      <input [(ngModel)]="user.password" *ngIf="!isEdit" type="password" name="password" placeholder="Password">
      <input [(ngModel)]="user.fullname" name="fullname" placeholder="Fullname">
      <input [(ngModel)]="user.email" name="email" placeholder="Email">
      <input [(ngModel)]="user.address" name="address" placeholder="Address">
      <select [(ngModel)]="user.role" name="role">
        <option value="administrator">Administrator</option>
        <option value="employee">Employee</option>
        <option value="customer" selected="selected">Customer</option>
      </select>
      <button type="submit" *ngIf="isEdit">Update</button>
      <button type="submit" *ngIf="!isEdit">Add</button>
    </form>
  </div>
</div>
