
#header {
  position: fixed;
  height: 80px;
  top: 30px;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
}

#header #back-button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: rgb(255, 45, 85);
}

#header #title {
  font-size: 41px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#page {
  position: relative;
  height: auto;
  width: 1400px;
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 110px;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  outline: none !important;
}

.shown {
  display: initial !important;
}

#article-detail-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
}

#article-detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 2001;
}

@keyframes animateModal {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

#article-detail-card {
  box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: white;
  height: auto;
  width: 700px;
  z-index: 2002;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 50px;
  animation: animateModal 0.3s 0.1s ease-out 1 backwards;
  border-radius: 30px;
}

#article-detail-container .image {
  height: 300px;
  width: calc(100% - 150px);
  transform: translateY(-33%);
  margin-bottom: -70px;
  border-radius: 30px;

  background-color: rgb(255, 45, 85);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#article-detail-container .name-price-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 75px;
  margin-bottom: 34px;
}

#article-detail-container .name-price-container .name {
  font-size: 41px;
}

#article-detail-container .name-price-container .price {
  font-size: 41px;
}

#article-detail-container .description {
  font-size: 16px;
  margin-bottom: 14px;
  padding: 0 75px 30px;
  text-align: center;
}

#article-detail-container .buttons-wrapper {
  display: flex;
  height: auto;
  justify-content: space-around;
  align-items: center;
  width: auto;
  font-size: 26px;
}

#article-detail-container .total-price {
  display: none;
}

#article-detail-container .add-to-cart-button {
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  border-radius: 15px;
  border: 1px solid rgb(255, 45, 85);
  color: rgb(255, 45, 85);
  background-color: white;
}

#articles-container {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}

.article {
  width: 400px;
  margin: 0 15px 30px;
  height: auto;
  background-color: white;
  text-align: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.03);
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  transition: box-shadow 0.05s;
}

.article .image {
  height: 150px;
  max-height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 45, 85);
}

.article .name {
  font-size: 26px;
  padding: 26px 20px 0;
}

.article .description {
  padding: 20px 30px 50px;
}

.article .price {
  position: absolute;
  font-weight: 600;
  color: rgb(255, 45, 85);
  bottom: 0;
  right: 0;
  padding: 16px 18px;
  background-color: rgba(255, 255, 255, 0.9);
}

.article .number-of-units {
  display: none;
}

.article.in-cart {
  /*border: 1px solid rgb(76, 217, 100);*/
}

.article.in-cart .number-of-units {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  height: 30px;
  width: 210px;
  padding: 0 20px;
  transform: translateX(-50%);
  line-height: 30px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #f0f0f0;
  color: rgb(76, 217, 100);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.article:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(255, 45, 85);
}

.article:hover .name {
  color: rgb(255, 45, 85);
}

.article:hover .number-of-units {
  background-color: rgb(255, 45, 85);
  color: white;
}

.article:active {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

}

.show-cart-button {
  font-weight: 600;
  cursor: pointer;
}

#cart-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translate(100%);
  opacity: 0;
  transition: transform 0.2s ease-in, opacity 0.2s 0.1s;
}

#cart-list.shown {
  transform: none;
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.1s;
}

#cart-list .show-cart-button {
  margin-top: 61px;
  float: right;
  margin-right: 22px;
}

.cart-items {
  margin-top: 100px;
  user-select: none;
}

.cart-item {
  position: relative;
  height: 90px;
  width: calc(100% - 60px);
  margin: 0 30px;
  border-bottom: 1px solid #d8d8d8;
  padding: 13px 0 15px;
}

.cart-item .name {
  padding: 3px 0;
  font-weight: 600;
  color: rgb(255, 45, 85);
  cursor: pointer;
  max-width: 160px;
}

.cart-item .modify-cart-wrapper {
  position: absolute;
  top: 17px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-item .number-of-items {
  margin: 0 10px;
}

.cart-item .modify-cart-button {
  font-size: 10px;
  height: 21px;
  width: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 40px;
  border: 2px solid rgb(255, 45, 85);
  color: rgb(255, 45, 85);
  cursor: pointer;

}

.cart-item .modify-cart-button div {
  font-size: 20px;
  transform: translateY(-1px);
}

.cart-item .unit-price {
  position: absolute;
  bottom: 16px;
  left: 0;
  color: #aaa;
}

.cart-item .total-price {
  position: absolute;
  bottom: 16px;
  right: 0;
}

.cart-total-price {
  margin: 30px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
}

.cart-total-price span {
  float: right;
  font-size: 26px;
  font-weight: 600;
}

.order-button {
  position: absolute;
  bottom: 36px;
  height: 50px;
  width: calc(100% - 40px);
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  border-radius: 15px;
  border: 1px solid rgb(255, 45, 85);
  color: rgb(255, 45, 85);
  background-color: white;
}
