<div id="header">
  <div id="title">Makeup Store</div>
  <div class="show-cart-button" (click)="showCart()">My Cart</div>
</div>
<div id="page">

  <div id="articles-container" *ngIf="!productDetailInView">
    <div *ngFor="let product of productsList" class="article" (click)="productClicked(product)">
      <div class="image" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
      <div class="name">{{product.name}}</div>
      <div class="description">{{product.description}}</div>
      <div class="price">{{product.price}} $</div>
      <div class="number-of-units">{{product.quantity}}</div>
    </div>
  </div>

  <div id="article-detail-container" *ngIf="productDetailInView">
    <div id="article-detail-overlay" (click)="exitDetailView()"></div>
    <div id="article-detail-card">
      <div class="image" [ngStyle]="{'background-image': 'url(' + productDetailInView.image + ')'}"></div>
      <div class="name-price-container">
        <div class="name">
          {{productDetailInView.name}}
        </div>
        <div class="price">
          {{productDetailInView.price}} $
        </div>
      </div>
      <div class="description">
        {{productDetailInView.description}}
      </div>
      <div class="buttons-wrapper">
        <button class="modify-cart-button detail-minus" (click)="removeItemFromCart(productDetailInView)">
          <div>-</div>
        </button>
        <span class="total-price"></span>
        <button class="modify-cart-button detail-plus" (click)="addItemToCart(productDetailInView)">
          <div>+</div>
        </button>
      </div>
    </div>
  </div>
  <div id="cart-list" [class.shown]="cartIsVisible" (click)="stopThePropagation()">
    <div class="show-cart-button" (click)="hideCart()">My Cart</div>

    <div class="cart-items">
      <div class="cart-item">
        <div class="name">Product name</div>

        <div class="unit-price">per unit: 12 $</div>
        <div class="total-price">24 $</div>
        <div class="modify-cart-wrapper">
          <div class="modify-cart-button">
            <div>-</div>
          </div>
          <div class="number-of-items">2</div>
          <div class="modify-cart-button">
            <div>+</div>
          </div>
        </div>

      </div>

      <div *ngFor="let item of cartList" class="cart-item">
        <div class="name">{{item.name}}</div>

        <div class="unit-price">per unit: {{item.price}} $</div>
        <div class="total-price">{{item.price * item.amount}} $</div>
        <div class="modify-cart-wrapper">
          <div class="modify-cart-button">
            <div>-</div>
          </div>
          <div class="number-of-items">{{item.amount}}</div>
          <div class="modify-cart-button">
            <div>+</div>
          </div>
        </div>
      </div>
      <div class="cart-total-price">TOTAL: 123 $</div>

    </div>
  </div>
</div>
