<!--The content below is only a placeholder and can be replaced.-->
<a routerLink="/users" routerLinkActive="active">Users</a>&nbsp;
<a routerLink="/login" routerLinkActive="active">Login</a>&nbsp;
<a routerLink="/user-form" routerLinkActive="active">User edit</a>&nbsp;
<a routerLink="/products" routerLinkActive="active">Products</a>&nbsp;
<a routerLink="/product-edit" routerLinkActive="active">Product edit</a>&nbsp;
<a routerLink="/shopping-cart" routerLinkActive="active">Shopping cart</a>&nbsp;
<router-outlet></router-outlet>
