
.add_button {
  height: 30px;
  width: auto;
  align-self: left;
  margin-bottom: 30px;
  margin-left: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.table {
  position: relative !important;
  width: calc(100vw - 60px);
  max-height: calc(100vh - 150px);
  background-color: #fafafa;
  border: 1px solid #d8d8d8;
  overflow: auto;
}

.header-row {
  position: fixed;
  height: 25px;
  background-color: #fafafa;
  border-bottom: 1px solid #d8d8d8;
  color: rgb(255, 45, 85);
  width: calc(100vw - 60px) !important;
  padding-right: 29px !important;
  text-transform: capitalize;
  text-align: left;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.3);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 25px;
}

.table-row:nth-child(2) {
  margin-top: 25px !important;
}

.table-row:nth-child(odd) {
  background-color: #f5f5f5;
}

img {
  width: 20px;
  height: 20px;
}

.id {
  width: 3%;
}
.name {
  width: 15%;
}
.description {
  width: 15%;
}
.company {
  width: 15%;
}
.type {
  width: 7%;
}
.quantity {
  width: 5%;
}
.price {
  width: 5%;
}
.image {
  width: 15%;
}
.edit {
  width: 10%;
}
.delete {
  width: 10%;
}
